html,body{
 height:100%;
 margin:0;
 font-family:Roboto,"Helvetica Neue",Arial;
 background-color: #F5FFFB;
}

.map-wrapper{
 display: flex;
 width: 100%;
 height: 85vh; 
 gap: 20px;
 padding: 20px;
 box-sizing: border-box;
}

/* MAP */
#map{
 flex: 2;
 height: 100%; 
 border-radius: 12px;
}

/* RIGHT PANEL */
.panel{
 flex: 1;
 height: 100%; 
 padding: 18px;
 box-sizing: border-box;
}

 .card{
 background:#ffffff;
 border-radius:10px;
 padding:14px;
 box-shadow:0 2px 8px rgba(53, 116, 11, 0.877);
 max-height: 100%; 
 height: 100%; 
 overflow-y: auto; 
}


 .panel-header{display:flex;
 align-items:center;
 justify-content:space-between;
 margin-bottom:12px
 }

 .panel-header h3{
margin:0;
 font-size:25px;
 }

 .add-btn{
 border:0;
 background:#bbe29a;
color:#181818;
 padding:6px 10px;
 border-radius:8px;
 cursor:pointer;
 font-weight:600}

 .list{
 margin:0;
 padding:0;
 font-size:1.7rem ;
 list-style:none;
 margin-top: 2%;

 }

 .list li{
 display:flex;
 align-items:center;
 justify-content:space-between;
 padding:8px 6px;
border-bottom: 1px dashed #fb6007cc
 }

 .list li .meta{
 display:flex;
 gap:8px;
 align-items:center}

 .chip{font-size:13px;
 padding:6px 8px;
 border-radius:999px;
 background:#f2f6ff;
 border:1px solid #e6f0ff}

 .small{
font-size:13px;
color:#666}

 .muted{
 color:#272727;
 font-size:13px; 
 text-align: center;
 margin-top: 2%;}

 .input-row{display:flex;gap:8px;margin-top:10px}
 .input-row input{flex:1;padding:8px;border:1px solid #ddd;border-radius:8px}
 .input-row button{padding:8px 10px;border-radius:8px;border:0;background:#24a148;color:#fff}

 .hide{display:none}

 .leaflet-popup-content-wrapper{border-radius:8px}

 .edit-btn{
 background:#ffb020;
 color:#fff;
 border:0;
 padding:6px 10px;
 border-radius:6px;
 cursor:pointer;
 margin-right:6px;
 font-size:13px;
}

.delete-btn{
 background:#dc3545;
 color:#fff;
border:0;
 padding:6px 10px;
 border-radius:6px;
 cursor:pointer;
 font-size:13px;
}

.market {
 width: 100%;
 height: 50vh; 
 min-height: 300px; 
 background: 
 linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
 url("https://i.pinimg.com/1200x/63/ac/00/63ac009b4c08659206581a6e1f9689e3.jpg") center/cover no-repeat;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
}
.market-content {
 color: white;
 max-width: 700px;
 padding: 20px;
}
.market-content h1 {
 font-size: 4rem;
 font-weight: bold;
 margin-bottom: 10px;
 text-transform: uppercase;
 letter-spacing: 3px;
}
.market-content p {
 font-size: 1.3rem;
 line-height: 1.8;
 opacity: 0.9;
 margin-bottom: 25px;
}

@media (max-width:900px){
 .map-wrapper{
 flex-direction: column;
 height: auto; 
 padding-bottom: 0; 
 }

 #map{
 width: 100%;
 height: 60vh; 
 min-height: 400px; 
 margin-bottom: 20px; 
}

 .panel{
 width: 100%;
 height: auto; 
padding: 0 20px 20px 20px; 
}
  
  .card {
    max-height: none; 
    height: auto;
  }
}